@import "tailwindcss";

.scroll-hide::-webkit-scrollbar {
  display: none;
}
.scroll-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.group-hover-scrollbar::-webkit-scrollbar {
  display: block !important;
}
* {
  font-family: "Helvetica Now Display Medium", Helvetica, Arial, sans-serif;
}
.black-text{
  color: #111111;
}
